.navbar-container {
  background-color: #072146;

  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

.navbar-container ul {
  align-items: center;
  display: flex;
  list-style: none;
}

.navbar-container ul > li {
  text-decoration: none;
  margin-right: 2rem;
  color: #f4c249;
}

.navbar-container h3 {
  text-decoration: none;
  color: white;
  margin: 0;
  margin-left: 4rem;
}

.links {
  color: white;
  align-items: center;
  text-decoration: none;
}
